<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about" id="static-content">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <div class="static-content">
        	<h4>Privacy and Confidentiality:</h4>
			<p>Spectrumvlp – takes the confidentiality of its users and visitors as a top priority, and the management makes every effort in order to provide high-quality services for those benefiting from it. Thus, the privacy and confidentiality, herein explained, are considered part of the usage terms and provisions of Spectrumvlp and its provisions.</p>
			<br>
			<p>Spectrumvlp does not gather personal information about you when you visit its portal unless you specifically and knowingly opted to provide such information for us. And if you opted to provide such information, we would only use it to respond to your request for information or services in line with what is mentioned with regard to these policies. And by using Spectrumvlp application, that means you have complied with such a privacy and confidentiality policy.</p>
			<br>
			<p>Visitors and beneficiaries of the application should keep taking a look at the terms and principles of privacy and confidentiality every now and then, in order to be updated and informed of any modifications to them, bearing in mind that the application Administration is not to be liable to announce any updates applied to these terms and principles. And using the portal means that you have viewed and complied with these terms and principles and the continuous recurrent alterations and modifications applied to them.</p>
			<br>
			<p>Spectrumvlp is under no consequences accountable for any direct, non-direct, accidental, consequential, or exceptional harm taking place from using or the inability to use the portal.</p>
			<br>
			<h4>Security of the Personal Information:</h4>
			<p>The Privacy and Confidentiality code has been prepared to help the visitors and users understand the nature of data gathered from them when they visit the application and how to deal with it.</p>
			<br>
			<p>The application Administration takes the proper, appropriate procedures and measures in order to maintain the personal information which it has in a safe way guaranteeing its protection against loss or unlicensed access, or abuse, or unlicensed modification and disclosure. And among the most important measures applied at Spectrumvlp in order to protect the visitor’s personal information are the following:</p>
			<ul>
				<li>Strict procedures and step are taken in order to protect the information security, and the technology used to shield from fraud and unlicensed access to our systems.</li>
				<li>Regular and periodical updating of protection procedures and regulations which meet or are more than standards.</li>
				<li>Our employees are qualified and trained to respect the confidentiality of our visitors’ personal information.</li>
			</ul>
			<br>
			<h4>Personal Information Gathering:</h4>
			<p>Once the user visits Spectrumvlp Application, its server registers the internet protocol (IP) of the user, and the date, time of the visit, and the URL address of any application from which links you to the Portal.</p>
			<p>Most applications, once visited, put a small file on the hard disc of visitor’s computer (browser). This file is called Cookies; which are files are text files. These text files contain information availing the application which put it to fetch or retrieve it when necessity, during the user’s forthcoming visit to the application. The saved information includes:</p>
			<ul>
				<li>Remembering username and password.</li>
				<li>Saving page settings in case this was available at the portal.</li>
				<li>Saving colors chosen by the user.</li>
				<li>Unavailability of voting more than once for the same user.</li>
			</ul>
			<br>
			<p>The visitor may not have to enter the password at every time they visit the application, as the system of the application will be able to detect it via cookie files. Or it could prevent the user from re-voting if they previously voted, and so forth. Accordingly, Spectrumvlp application is to use the information existing on the cookies files for technical purposes related to it, and this is when it is visited more than once. Also, the portal can change the information existing on cookie files or adding new information when you visit Spectrumvlp application.</p>
			<br>
			<p>If you used a direct application or sent an email to us via Spectrumvlp Application providing us with your personal information, we would share the necessary information with other bodies or departments; in order to serve you in a more effective way. And we will not share your personal information with non-governmental bodies unless it is licensed from concerned bodies to perform specific governmental services. Providing your personal information via Spectrumvlp Application means that you fully agree to storing, treating, and using such information by the government authorities. And we keep the right at all times to disclose any information for concerned bodies, when necessary, in order to abide by any law, system, or governmental request.</p>
			<br>
			<p>You are fully accountable for the validity and honesty of the information sent via this application.</p>
			<br>
			<h4>Privacy Protection:</h4>
 			<p>To be able to help you protect your personal information, we recommend the following procedures:</p>
 			<ul>
 				<li>Contacting us immediately when you think that someone enabled to obtain your password or usage code, or any other confidential information.</li>
 				<li>Refraining from giving confidential information via the telephone or the internet unless you know the identity of the one speaking to you.</li>
 				<li>Using safe browsing web when making dealings via the internet, along with closing the non-used applications on the internet and making sure that the virus protection program is always updated.</li>
 			</ul>
 			<p>In case of having any inquiries or opinions on the privacy principles, you can communicate with us via the portal through the Contact Us Form at the Contact Us page.</p>
 			<br>
 			<p>To maintain your personal information, the electronic storage and sent personal information are secured through using the appropriate security technologies.</p>
 			<br>
 			<p>This application contains links for applications or portals that may use ways to protect the information and its privacy differ from the ways we use; we are not responsible for the content, ways, privacies of these other applications. We advise you to refer to privacy notices of these applications.</p>
 			<br>
 			<h4>Email Sending:</h4>
 			<p>When you inquire or request information on a specific service, or in case of giving additional information using any of the communication means with Spectrumvlp whether electronic or non-electronic such as inquiring about our application, we use your email to reply to your inquiries. Also, it is possible to save your email and message, and our answer to it for quality monitoring purposes. We also could do that for legal and censoring purposes.</p>
        </div>
    </section>
</main>
