#global-navigation.navbar{background: #ffffff !important; border-bottom: 2px solid #000;}
#global-navigation .explore-course{clear: both; padding-top: 10px;}
#global-navigation .explore-course .btn{color: #fff;background-color: #5bc0de;border-color: #46b8da;}
#global-navigation .explore-course .btn:hover, #global-navigation .explore-course .btn:focus{color: #fff;background-color: #39b3d7;border-color: #269abc;}
#global-navigation .header-btns-login .btn{line-height: 15px;margin-left: 5px; height: 30px;}
.feature-wrap{min-height: 210px;}
.services-wrap {min-height: 332px;}
.feature-wrap .image{float: left;padding-top: 16px;margin-right: 10px;}
.feature-wrap h3, .media-body p{text-align: justify;}
.wrapper-footer footer#footer-openedx .wrapper-logo img{width: 20%;}
#footer{background: #b3b3b3}
#footer a:hover{color: #fff;}
#footer img{width: 30%;}
#footer .pull-right a, #footer .copyright a{color: #000;}
#footer .copyright {text-align: center;color: #000;}
#global-navigation .logo.pull-left img{width: 100%;}
#global-navigation .authenticated.header-btns, #global-navigation .header-btns-login{margin-top: 25px;}
body.all-courses .content-wrapper{padding: 0; margin-top: 0;}
#global-navigation .explore-course.authenticated{clear: initial; padding-right: 10px; float: right;}
#global-navigation .explore-course.authenticated .btn{padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.428571429;text-align: center;}

@media (min-width: 992px){
	#global-navigation .explore-course.authenticated{
		padding-top: 35px;
	}
	#global-navigation .dropdown-toggle{
		margin-top: 35px;
	}
}

@media (min-width: 1200px){
	#global-navigation .explore-course.authenticated{
		padding-top: 35px;
	}
	#global-navigation .dropdown-toggle{
		margin-top: 35px;
	}
}

@media (min-width: 1400px){
	#global-navigation .explore-course.authenticated{
		padding-top: 40px;
	}
	#global-navigation .dropdown-toggle {
    	margin-top: 40px;
	}
}