#global-navigation.navbar{background: #ffffff !important; border-bottom: 2px solid #000;}
#global-navigation .explore-course{clear: both; padding-top: 10px;}
#global-navigation .explore-course .btn{color: #fff;background-color: #5bc0de;border-color: #46b8da;}
#global-navigation .explore-course .btn:hover, #global-navigation .explore-course .btn:focus{color: #fff;background-color: #39b3d7;border-color: #269abc;}
#global-navigation .header-btns-login .btn{line-height: 15px;margin-left: 5px; height: 30px;}
.feature-wrap{min-height: 210px;}
.services-wrap {min-height: 332px;}
.feature-wrap .image{float: left;padding-top: 16px;margin-right: 10px;}
.feature-wrap h3, .media-body p{text-align: justify;}
.wrapper-footer footer#footer-openedx .wrapper-logo img{width: 20%;}
#footer{background: #b3b3b3}
#footer a:hover{color: #fff;}
#footer img{width: 30%;}
#footer .pull-right a, #footer .copyright a{color: #000;}
#footer .copyright {text-align: center;color: #000;}
#global-navigation .logo.pull-left img{width: 100%;}
#global-navigation .authenticated.header-btns, #global-navigation .header-btns-login{margin-top: 25px;}
body.all-courses .content-wrapper{padding: 0; margin-top: 0;}
#global-navigation .explore-course.authenticated{clear: initial; padding-right: 10px; float: right;}
#global-navigation .explore-course.authenticated .btn{padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.428571429;text-align: center;}
.recent-work-wrap img{min-height: 200px;max-height: 200px;}

#main-slider-1 .carousel .item {height: auto;}
#main-slider-1 .carousel .item img{width: 100%;}

body.view-login_register .content-wrapper{padding: 0px; margin: 0; max-width: 100%;}
#content-container{padding-top: 25px; margin-top: 0px;}
.section-bkg-wrapper{background-image: url('../images/login_bg.jpg');background-size: cover; height: 100vh;overflow: auto;}
.login-register-content, #login-and-registration-container{background: transparent;padding-bottom: 50px;}
.login-register-content #login-form, .login-register-content #register-form,
.login-register-content #password-reset-form{background: #7067648c;padding: 25px;}
.login-register-content #login-form a, #login-and-registration-container .toggle-form a,
#login-and-registration-container .register-form .plaintext-field a{color: #f1c933;}
#login-and-registration-container .form-field .toggle-form label, 

#login-and-registration-container .toggle-form span, #login-and-registration-container .register-form .checkbox-optional_fields_toggle .label-text,
.login-register-content #login-form span, #login-and-registration-container .register-form .plaintext-field,
#login-and-registration-container .register-form h2, #login-and-registration-container #password-reset span,
.login-register .form-field .field-link, #login-and-registration-container #password-reset p,
#login-and-registration-container #password-reset label, .login-register-content h2, 
#login-and-registration-container .register-form .select-country .label-text,
#login-and-registration-container .register-form .select-gender .label-text,
#login-and-registration-container .register-form .select-year_of_birth .label-text,
#login-and-registration-container .register-form .select-level_of_education .label-text{color: #fff;}


.certificate-card.mode-honor .card-logo{background-image: url(../images/certification_logo.png); background-position: center; background-repeat: no-repeat; background-size: cover;}

/*Dashboard page design*/
body.view-dashboard .content-wrapper{background: #F8F8F8;margin-top: 0; max-width: 100%}
#dashboard article{box-sizing: border-box;transition: all 0.125s linear 0s;position: relative;background: #fff;width: 100%;border-radius: 0;margin-bottom: 30px;}
#dashboard article a {position: relative;display: block;}
#dashboard article a:hover, #dashboard article a:focus{text-decoration: none;outline: 2px solid #646464;border: 0;}
#dashboard article .course-image .cover-image .learn-more {left: calc(50% - 100px);box-sizing: border-box;position: absolute;top: 55px;padding: 0 20px;width: 200px;height: 50px;border-color: #0075b4;border-radius: 3px;background: #0075b4;color: #fff;line-height: 50px;text-align: center;opacity: 0;z-index: 100;text-transform: none;}
#dashboard article .course-image .cover-image {height: 160px;overflow: hidden;}
#dashboard article .course-image .cover-image::before {left: 0;position: absolute;top: 0;opacity: 0;background: #000;width: 100%;height: 160px;content: '';z-index: 10;}
#dashboard article:hover .cover-image::before, #dashboard article:focus .cover-image::before {transition: opacity 0.25s ease-out 0.25s;opacity: 0.6;}
#dashboard article .course-image .cover-image img {width: 100%;height: auto;}
#dashboard article .banner{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;top: -moz-calc(130px - 18px);top: -webkit-calc(130px - 18px);top: calc(130px - 18px);position: absolute;height: 18px;width: 100%;background: #080;color: white;line-height: 18px;font-weight: bold;font-size: 0.7em;text-align: right;text-transform: uppercase;}
#dashboard article .banner{background: #080;padding-right: 54px;top: 142px;}
#dashboard article .banner::after{content: '';width: 34px;height: 45px;position: absolute;top: 0;right: 15px;background: url(../images/verified.png) -8px -6px no-repeat;}
#dashboard article .course-info {height: 200px;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;border-bottom: 3px solid #080;}
#dashboard article .course-info h2{margin-top: 0;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
#dashboard article .course-info .course-code {line-height: 23.68px;padding: 0 15px;}
#dashboard article .course-info .course-organization {line-height: 16.28px;padding: 10px 15px 2px 15px;}
#dashboard article .course-info .course-organization,
#dashboard article .course-info .course-code,
#dashboard article .course-info .course-title{display: block;text-transform: none;color: #474747;font-size: 14px;}
#dashboard article .course-info .course-title {padding: 0 15px;color: #3d3e3f;margin: 0;margin: 5px 0 35px 0;padding: 0 15px;font-size: 18px;font-weight: normal;line-height: 1.333; height: 100px;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;}
#dashboard article .course-info .course-date {line-height: 20.72px;padding: 2px 15px;color: #474747;font-size: 14px;}

@media (min-width: 992px){
	#global-navigation .explore-course.authenticated{
		padding-top: 35px;
	}
	#global-navigation .dropdown-toggle{
		margin-top: 35px;
	}
}

@media (min-width: 1200px){
	#global-navigation .explore-course.authenticated{
		padding-top: 35px;
	}
	#global-navigation .dropdown-toggle{
		margin-top: 35px;
	}
}

@media (min-width: 1400px){
	#global-navigation .explore-course.authenticated{
		padding-top: 40px;
	}
	#global-navigation .dropdown-toggle {
    	margin-top: 40px;
	}
}