.wrapper-footer footer#footer-openedx .wrapper-logo img{width: 20%;}
#footer img{width: 30%;}
#global-navigation .logo.pull-left img{width: 100%;}
#global-navigation .authenticated.header-btns, #global-navigation .header-btns-login{margin-top: 25px;}